@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #3950FF;
}

p {
  font-size: 1.2rem;
  color: black;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-right: 10px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

/* Button styles with rounded edges */
button {
  background-color: #3950FF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px; /* Rounded edges */
}

button:hover {
  background-color: black;
}

/* Navbar Styles */
.navbar-logo {
  width: 120px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

.navbar-logo {
  width: 120px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Hero Section */
.hero-section {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}

.hero-section p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
}

/* Consistent Heading Styles */
.custom-services-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #3950FF;
  transition: color 0.3s ease, transform 0.4s ease;
}

.custom-services-heading:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  color: #333;
}

/* Service Box */
.service-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.4s ease;
}

.service-box:hover {
  background-color: #e6e6e6;
  transform: scale(1.05); /* Slight zoom on hover */
}

.service-icon {
  margin-right: 20px;
  font-size: 2rem;
  color: #3950FF;
}

.service-label {
  font-size: 1.2rem;
  color: #000;
}

/* Icons for services */
.icon-calendar-management::before {
  content: "\f073"; /* Font Awesome icon for Calendar */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.icon-customer-service::before {
  content: "\f095"; /* Font Awesome icon for Phone */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.icon-social-media::before {
  content: "\f0e1"; /* Font Awesome icon for Social Media */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.icon-project-management::before {
  content: "\f0ae";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
